@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: start;

  scroll-snap-type: y none;

  --bg-dark-primary: #1e1e1e;
  --bg-dark-secondary: #0a0a0a;

  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (min-width: 976px) {
  :root {
    scroll-snap-type: y proximity;
  }
}

#canvas {
  touch-action: auto!important;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.dark-theme {
  background-color: white;
  color: var(--bg-dark-primary);
}

.light-theme {
  background-color: var(--bg-dark-primary);
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    mix-blend-mode: difference;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: var(--bg-dark-primary);
  }
}

/* Fonts */
@layer base {
  @font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/src/assets/fonts/Geist/GeistVF.woff2) format("woff2");
  }

  @font-face {
    font-family: "GeistMono";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/src/assets/fonts/GeistMono/GeistMonoVF.woff2) format("woff2");
  }
}
